<h6 class="subheader"><i class="fa fa-search"></i> {% trans "Search keys" %}</h6>
<hr/>
<form method="post" action="{% include 'shared/url.twig' with {'href' : 'search', 'tabKey' : 'keys'} %}">
    <div class="grid-x grid-padding-x">
            <div class="small-9 medium-9 large-6 cell">
                {% embed "shared/element/input.twig" with {'name': 'key', 'type': 'text', 'icon': 'fa-key'} %}
                    {% block placeholder %}{% trans %}Key{% endtrans %}{% endblock %}
                {% endembed %}
            </div>
            <div class="cell large-2 small-3 medium-3 text-left">
                {% include 'shared/element/action.twig' %}
            </div>
            <div class="cell show-for-large large-4 text-left">
                <input type="submit" class="button" value="{% trans %}Search{% endtrans %}" />
            </div>
            <div class="cell hide-for-large small-12 medium-12 text-right">
                <input type="submit" class="button" value="{% trans %}Search{% endtrans %}" />
            </div>
    </div>
</form>
