<h6 class="subheader"><i class="fas fa-search"></i> {% trans "Search keys" %}</h6>
<hr/>
<form method="post" action="{% include 'shared/url.twig' with {'href' : 'keys'} %}">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 large-12 medium-12 callout warning hide-for-small-only">
            {% trans %}
                Blocking mode will block your redis server to scan all keys and as a result will block all other connections. You should avoid using blocking mode by default.
                Also, searching in blocking mode does not support pagination and can cause your browser to crash.
            {% endtrans %}
        </div>
        {% if errors|length > 0 %}
            <div class="cell small-12 callout alert">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="small-9 medium-9 large-6 cell">
            {% embed "shared/element/input.twig" with {'name': 'keys', 'type': 'text', 'icon': 'fa-key', 'value': requestedKeys|first} %}
                {% block placeholder %}{% trans %}Key{% endtrans %}{% endblock %}
            {% endembed %}
        </div>
        <div class="cell large-2 small-3 medium-3 text-left">
            <select name="action" value="{{ requestedAction }}">
                <option value="type">{% trans "A single key" %}</option>
                <option value="scan">{% trans "All keys (Non Blocking)" %}</option>
                <option value="keys">{% trans "All keys (Blocking)" %}</option>
            </select>
        </div>
        <div class="cell show-for-large large-4 text-left">
            <input type="submit" class="button" value="{% trans %}Search{% endtrans %}" />
        </div>
        <div class="cell hide-for-large small-12 medium-12 text-right">
            <input type="submit" class="button" value="{% trans %}Search{% endtrans %}" />
        </div>
        <div class="cell small-12 large-12 medium-12 callout primary hide-for-small-only">
            {% trans %}Supported search patterns{% endtrans %}:
            <ul>
                <li>{% trans %}h?llo matches hello, hallo and hxllo{% endtrans %}</li>
                <li>{% trans %}h*llo matches hllo and heeeello{% endtrans %}</li>
                <li>{% trans %}h[ae]llo matches hello and hallo, but not hillo{% endtrans %}</li>
                <li>{% trans %}* matches the all keys{% endtrans %}</li>
            </ul>
            {% trans %}Use \ to escape special characters if you want to match them verbatim.{% endtrans %}
        </div>
    </div>
</form>
