@font-face {
    font-family: "phpredmin";
    src: url('/assets/phpredmin/font/Merriweather-Regular.ttf');
}

@font-face {
    font-family: "phpredmin-black";
    src: url('/assets/phpredmin/font/Merriweather-Black.ttf');
}

body {
    font-family: "phpredmin";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "phpredmin-black";
}

.form_error {
    border-color: #f00;
}

.form_icon {
    width: 16px;
}

.selected_menu_item {
    color: #0f0;
}
