{% extends "layout/center.twig" %}

{% block title %}System info{% endblock %}

{% block content %}
<div class="grid-y grid-padding-y">
    <div class="cell shrink small-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="shrink cell">
                <img src="assets/phpredmin/img/phpredmin.png" />
            </div>
            <div class="auto cell align-self-middle align-center">
                <h3>{% trans %}Install PHPRedmin{% endtrans %}</h3>
            </div>
        </div>
    </div>
    {% if errors|length > 0 %}
        <div class="cell shrink small-cell-block-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 callout alert">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="cell auto">
        <form method="post" action="install">
            <div class="grid-x">
                <div class="small-12 medium-5 large-3 cell">
                    <label for="phpredmin-name" class="text-left middle error">{% trans %}Name{% endtrans %}:</label>
                </div>
                <div class="small-12 medium-7 large-9 cell">
                    {% embed "shared/input.twig" with {'name': 'name', 'type': 'text'} %}
                        {% block placeholder %}{% trans %}Name for your PHPRedmin{% endtrans %}{% endblock %}
                    {% endembed %}
                </div>
                <div class="small-12 medium-5 large-3 cell">
                    <label for="phpredmin-fristname" class="text-left middle">{% trans %}Firstname{% endtrans %}:</label>
                </div>
                <div class="small-12 medium-7 large-9 cell">
                    {% embed "shared/input.twig" with {'name': 'firstname', 'type': 'text'} %}
                        {% block placeholder %}{% trans %}Admin's firstname{% endtrans %}{% endblock %}
                    {% endembed %}
                </div>
                <div class="small-12 medium-5 large-3 cell">
                    <label for="phpredmin-lastname" class="text-left middle">{% trans %}Lastname{% endtrans %}:</label>
                </div>
                <div class="small-12 medium-7 large-9 cell">
                    {% embed "shared/input.twig" with {'name': 'lastname', 'type': 'text'} %}
                        {% block placeholder %}{% trans %}Admin's lastname{% endtrans %}{% endblock %}
                    {% endembed %}
                </div>
                <div class="small-12 medium-5 large-3 cell">
                    <label for="phpredmin-email" class="text-left middle">{% trans %}Email{% endtrans %}:</label>
                </div>
                <div class="small-12 medium-7 large-9 cell">
                    {% embed "shared/input.twig" with {'name': 'email', 'type': 'text'} %}
                        {% block placeholder %}{% trans %}Admin's email address{% endtrans %}{% endblock %}
                    {% endembed %}
                </div>
                <div class="small-12 medium-5 large-3 cell">
                    <label for="phpredmin-password" class="text-left middle">{% trans %}Password{% endtrans %}:</label>
                </div>
                <div class="small-12 medium-7 large-9 cell">
                    {% embed "shared/input.twig" with {'name': 'password', 'type': 'password', 'describedby': 'password-help-text'} %}
                    {% endembed %}
                    <p class="help-text" id="password-help-text">
                        {% trans %}Password policy: at least one lower case letter, one upper case letter, one digit, and no spaces (minimum of 6 chars){% endtrans %}
                    </p>
                </div>
                <div class="small-12 medium-5 large-3 cell">
                    <label for="phpredmin-repassword" class="text-left middle">{% trans %}Password repeat{% endtrans %}:</label>
                </div>
                <div class="small-12 medium-7 large-9 cell">
                    {% embed "shared/input.twig" with {'name': 'repassword', 'type': 'password'} %}
                    {% endembed %}
                </div>
                <div class="small-12 medium-12 large-12 text-right">
                    <input type="submit" class="button" value="{% trans %}Submit{% endtrans %}" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
